/* Estilos para el modal */
.custommodal {
    background-color: white;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    /* Inicialmente oculto */
    transition: all 0.3s ease;
    /* Agregar una transición para la opacidad */
}

/* Estilos para mostrar el custommodal */
.custommodal.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    /* Hacer visible */
}